<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">

  <div class="panel-body">
    <div style="position: absolute; top: 20px; opacity: .8"><p>Your API Token: <strong><%= resource.authentication_token %></strong></p></div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :username %><i> (used for your apps URL, i.e.: https://rnplay.org/username/apps)</i><br />
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :name %><i> (your name, displayed on your apps)</i><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change your password") %>)</i><br />
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control"  %>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :use_vim_keybindings %>
           Use VIM keybindings
        </label>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :use_dark_theme %>
           Use dark theme
        </label>
      </div>
      <%= f.submit t('.update', :default => "Update"), class: "btn btn-info" %>
    <% end %>
  </div>

</div>
