<div class="container" style="text-align: center; padding-bottom: 50px;">
  <h1 style="margin-bottom: 40px">Recent plays</h1>
  <ul class="list-unstyled" id="plays">
  <% if @plays.empty? %>
    <p>
      You haven't created any plays yet.
      <br><br><%= link_to "Make your first play!", new_play_path, class: 'btn btn-info' %>
    </p>
  <% end %>
  <% @plays.each do |f| %>
    <li>
      <%= link_to f.name || f.module_name, play_path(f.url_token) %>
      <p>Updated <%= distance_of_time_in_words(f.updated_at, Time.now) %> ago</p>
      <% if f.creator %>
        <%= link_to f.try(:creator).try(:username) || 'anonymous', user_plays_path(f.creator) %>
        <%= image_tag(f.creator.avatar.url, class: "avatar") %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
